.login-content {
    width: 700px;
    margin: 0 auto;
    padding-top: 50px;
}

.login-title {
    font-size: 35px;
    text-align: center;
}

.login-form__group {
    width: 100%;
    margin-bottom: 30px;
}

.login-form__label {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.login-form__input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    display: block;
}

.login-form__button {
    margin-top: 60px;
}

.login-form__button-submit {
    width: 100%;
    height: 60px;
    background-color: #e65e5e;
    border: 1px solid #e65e5e;
    border-radius: 5px;
    color: #ffff;
    font-size: 20px;
}

.login-item__link {
    text-align: center;
    margin-top: 30px;
}

.register-link {
    text-decoration: none;
    font-size: 18px;
}