.register-content {
    /* background-color: blueviolet; */
    text-align: center;
}
.register-title {
    font-size: 35px;
}
.register-form__group {
    /* background-color: aqua; */
    width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.register-form__label {
    display: block;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}
.register-form__input {
    width: 100%;
    height: 50px;
    display: block;
}